
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Portfolio template</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <section> </section>
  <div class="section well">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">

        </div>

        <div class="col-lg-4 col-md-4">
          <h3 class="text-center">종목검색</h3>

            <div class="form-group col-lg-9 col-md-8 col-sm-10 col-xs-10">
              <input  class="form-control" id="Company" placeholder="Enter Company">
            </div>
            <button id="start_ajax" class="btn btn-default">검색<br>
          </button>

        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center col-md-6">
          <table width="200" border="1">
            <tbody>
              <tr> </tr>
            </tbody>
          </table>
          <p>
            <b>
			<font id="compTitle" size="6"></font>
			</b>
          </p>
          <div id="Chart" height="400" width="1000">

          </div>

          <!-- <div>여기에 새 div 태그의 내용 입력</div> -->
        </div>
        <div class="col-xs-12 col-md-6">
          <font size="4">
            <p><b>KEYWORD</b></p>
          </font>
        </div>
        <div class="col-xs-12 col-md-6">

          <!--input test -->

          <!--onClickKeyword했을때 parsing하게하기 -->

          <a onClick="onClickKeyword()" type="text" /> SK주식회사1</a>
          <p>
            #SK주식회사 #에스케이씨앤씨 #대양그룹 #스마트팩토리
          </p>

          <p id="keyword_list" type="text"> default </p>
        </div>
        <div class="col-xs-12 col-md-6">
          <font size="4">
            <p><b>POSITIVE</b></p>
          </font>
        </div>
        <div class="col-xs-12 col-md-6">
          <p>#SK이노베이션 #SK에너지 #SK하이닉스</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <font size="4">
            <p><b>NEGATIVE</b></p>
          </font>
        </div>
        <div class="col-xs-12 col-md-6">
          <p>#SAMSUNG SDS #LG CNS</p>
        </div>
        <div class="media-body"> </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container well">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-8">
          <div class="media">

            <h2 class="media-heading">관련기사 </h2>
            <a onClick="onClickKeyword_news()" type="text" /> #스마트팩토리</a>
            <p id="keyword_list_all" type="text"></p>
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>

  <!--slide js by suhyun-->
  <!-- <script src="js/prefixfree.min.js"></script> -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>종목 관련 기사</h2>

          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center">

        </div>
      </div>
      <div class="row">
        <!--<div class="col-md-3 text-center col-sm-6 col-xs-6"><img src="images/news1.jpg" alt="" width="200" height="200">-->
        <div class="col-md-3 text-center col-sm-6 col-xs-6"><p id="keyword_list_news_1" type="text"> 기사1 </p></div>
        <div class="col-md-3 text-center col-sm-6 col-xs-6"><p id="keyword_list_news_2" type="text"> 기사2 </p></div>
        <div class="col-md-3 text-center col-sm-6 col-xs-6 hidden-xs hidden-sm"><p id="keyword_list_news_3" type="text"> 기사3 </p></div>
        <div class="col-md-3 text-center col-sm-6 col-xs-6 hidden-xs hidden-sm"><p id="keyword_list_news_4" type="text"> 기사4 </p></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3 text-center col-sm-6 col-xs-6"><p id="keyword_list_news_5" type="text"> 기사5 </p></div>
        <div class="col-md-3 text-center col-sm-6 col-xs-6"><p id="keyword_list_news_6" type="text"> 기사6 </p></div>
        <div class="col-md-3 text-center col-sm-6 col-xs-6 hidden-xs hidden-sm"><p id="keyword_list_news_7" type="text"> 기사7 </p></div>
        <div class="col-md-3 text-center col-sm-6 col-xs-6 hidden-xs hidden-sm"><p id="keyword_list_news_8" type="text"> 기사8 </p></div>
    </div>
  </section>
  <hr>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Lorem ipsum dolor sit amet</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, magni, doloribus, possimus eum sapiente deleniti doloremque fugit ut expedita molestiae iusto debitis eveniet modi obcaecati ipsam quos quis labore dicta.</p>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>Copyright © MyCompany. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.5.0.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.js"></script>

  <script src="js/bootstrap.js"></script>
  <script src="js_min/chart.js"></script>
  <script src="js_su/keyword.js"></script>

</body>

</html>
